<div id="main">
    <div class="content">
        <h1 class="content-subhead">Aggiungi nuova operazione</h1>
    </div>
<div class="content subhead">

<form class="pure-form pure-form-stacked" action="/operazioni/new" method="post">
    <fieldset>
       <div class="pure-g">
           <div class="pure-u-1 pure-u-md-1-3">
           <label for="conto">Conto</label>
           <select name="id_conto" style="font-family:'FontAwesome';" id="conto" class="pure-u-23-24">
           <!--
Come ho pensato a 'sta cosa:
una volta preso i dati corretti spedisco il conto che sarà un array con tutti i dati
conto[0] sarà l'id del conto (anche perché nel db si salva l'id)
conto[2] sarà l'icona del conto in html entities
conto[1] sarà il nome del conto preso dal database
            //-->
               <% @conti.each do |conti| %>
                   <option value="<%= conti[0] %>"><%= conti[2] %> <%= conti[1] %></option>
               <% end %>
           </select>
           </div>

           <div class="pure-u-1 pure-u-md-1-3">
               <label for="data">Data</label>
               <!-- questa è da controllare con modernizr //-->
               <input name="data" id="data" class="pure-u-23-24" type="date" required>
           </div>

           <div class="pure-u-1 pure-u-md-1-3">
               <label for="beneficiario">Beneficiario</label>
               <input name="beneficiario" id="beneficiario" list="beneficiari" class="pure-u-23-24" type="text" required>
               <datalist id="beneficiari">
               <% @beneficiari.sort.each do |beneficiario| %>
               <option value="<%= beneficiario[0] %>" />
               <% end %>
               </datalist>
           </div>
            
           <div class="pure-u-1 pure-u-md-1-6">
                <label for="importo">Importo</label>
                <input name="importo" id="importo" class="pure-u-23-24" pattern="^\d+\.\d{2}$" type="text" required>
           </div>
            
           <div class="pure-u-1 pure-u-md-1-3">
                <label for="tipo_transizione">Tipo Transizione</label>
                <input name="tipo_transizione" list="tipo_transizione" id="tipo_transizione" class="pure-u-23-24" type="text" required>
                <datalist id="tipo_transizione">
                <% @tipo_transizione.sort.each do |tipo| %>
                    <option value="<%= tipo %>" />
                <% end %>
                </datalist>
           </div>
            
           <div class="pure-u-1 pure-u-md-1-2">
                <label for="categoria">Categoria</label>
                <input name="categoria" id="categoria" list="categorie" class="pure-u-23-24" type="text" required>
                <datalist id="categorie">
                <% @categorie.sort.each do |categoria| %>
                <option value="<%= categoria %>" />
                <% end %>
                </datalist>
           </div>
            
           <div class="pure-u-1 pure-u-md-3-4">
               <label for="descrizione">Descrizione</label>
               <input name="descrizione" id="descrizione" class="pure-u-23-24" type="text" required>
           </div>
            
            </div>
        </div>

        <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2"><p align="center">
            <a href="/operazioni" class="button-error pure-button"><i class="fa fa-times" aria-hidden="true"></i> Annulla</a></p>
            </div>
        <div class="pure-u-1 pure-u-sm-1-2"><p align="center">
            <button type="submit" class="pure-button pure-button-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i></i> Salva</button></p>
        </div>
        </div>
    </fieldset>
</form>
</div>
</div>
